body {
  overflow: hidden !important;
}

.import-export-button {
  width: 132px !important;
  height: 52px !important;
  color: #41b8b6 !important;
  font-weight: 500;
  border-color: #41b8b6 !important;
  background: transparent !important;
  border-radius: 10px;
}
.btn-secondary {
  background-color: #f6f8fb !important;
  border: none !important;
}
.btn-secondary:hover {
  transform: scale(1.05);
  /* background-color: #41b8b6 !important;
  border: none !important;
  color: white !important; */
}
.table_heading {
  font-weight: 500 !important;
  color: #5f5f5f;
}
.custom-width-edit {
}
.f_1,
.f_2,
.f_3,
.f_4 {
  /* height: 70px; */
  display: flex;

  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.dt-orderable-none {
  height: 70px;
  display: flex;

  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
td,
th {
  border-left-width: 0px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td,
td {
  text-align: left;
  flex-grow: 1;
}

tr {
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
}

.dt-column-order {
  margin-top: 3px !important;
  margin-left: 20px !important;
}
.dt-search label {
  display: none !important;
  visibility: hidden !important;
}
.title_head {
  position: absolute;
  transform: translate(10px, 25px);
}

/* .dt_search_1 {
  padding-left: 20px !important;
  background-image: url("./assests/images/Icons-search.png") !important; 
  background-position: 5px center !important; 
  background-repeat: no-repeat !important;
  background-size: 16px !important; 
} */
/* a[aria-current="page"] {
  color: black !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  transform: translateY(8px);
} */
.dt-paging-button.page-item {
  display: none;
}
.dt-paging-button.page-item:first-child,
.dt-paging-button.page-item:last-child,
.dt-paging-button.page-item.active {
  display: block !important;
}
.dt-paging-button.page-item.active a {
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  /* border-color:  !important; */
}
.page-item:last-child .page-link,
.page-item:first-child .page-link,
.page-item:not(:first-child) .page-link {
  font-size: 20px;
  font-weight: 600;
  background: transparent;
  border: none;
  align-items: center;
  display: flex;
}
.dt-paging-button .page-item:focus {
  border: none !important;
  outline: none !important;
}
/* #password_table_info {
  font-size: 15px;
  font-weight: 600;
  background: transparent;
  margin-top: -7px !important;
} */

#dt-search-1 {
  width: 250px !important;
  height: 40px !important;
}

.modal-dialog {
  /* width: 300px !important; */
  max-height: 280px !important;
}
.modal-content {
  /* max-height: 30% !important; */
}
.popup-button {
  /* margin-top: 20px; */
  /* padding-bottom: auto !important; */
  flex-wrap: nowrap;

  width: 189px !important;
  height: 52px !important;
  color: #41b8b6 !important;
  /* background:   #41B8B6; */
  border-color: #41b8b6 !important;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px !important;
  /* font-size: 13px !important; */
}
.custom-export {
  width: 380px !important;
}
.popup-button:hover {
  background: #41b8b6 !important;
  color: white !important;
}
.submit-button {
  width: 100% !important;
  height: 52px !important;
  /* margin-top: 20px !important */
  border-color: #41b8b6 !important;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}
.submit-button:hover {
  background: #41b8b6 !important;
  color: white !important;
}
.custom-width {
  max-width: 300px !important; /* Set your custom width */
  width: 100%; /* Ensures the width remains responsive */
}
.custom-width-import-buttom {
  max-width: 448px !important;
  max-height: 432px !important;
  width: 100%;
}
.import-model-gap {
  gap: 32px !important;
}

.popup-heading {
  padding-top: 20px !important;
  /* padding-left: 20px !important; */
}

.close-button {
  margin-right: 10px !important;
}
.close-button-import {
  margin-top: 20px !important;
  margin-right: 7px !important;
}
.steps-body {
  padding-bottom: auto !important;
  padding-left: 10px !important;
  width: 384px !important;
  height: 52px !important;
  display: flex !important;
  justify-content: space-between !important;
}
.popup-delete-card {
  padding: 10px;
  border: none;
  border-radius: 10px;
  /* width: 400px !important;
  height: 162px !important; */
  /* width: 100% !important; */
  margin: 10px !important;
}
.card-steps {
  /* gap: 32px !important; */
  /* margin: 20px; */
  border-color: #f6f8fb !important;
  width: 400px !important;
  height: 102px !important;
  gap: 20px !important;
  padding-bottom: auto !important;
  margin-bottom: 32px;
}
.steps {
  font-weight: 500 !important;
  width: 80px !important;
  height: 20px !important;
  line-height: 20px;
  padding-left: 10px;
  padding-top: 10px;

  color: #000000;
}
.import-popup-top {
  margin-left: 17px;
  width: 400px !important;
  height: 32px !important;
}
.delete-content-width {
  width: 400px !important;
}
.delete-button {
  width: 170px !important;
  border-color: #41b8b6 !important;
}
.delete-button:hover {
  background: #41b8b6 !important;
  color: white !important;
  transform: scale(1.05);
}

.shareModel_custom_height {
  height: 638px !important;
  /* overflow: scroll; */
}
.Note_margin {
  font: 700;
  color: #5f5f5f;
  line-height: 24px !important;
  /* margin-top: -4px; */
  margin-bottom: -1px;
}

@media screen and (max-width: 1100px) {
  .title_heading {
    position: relative;
    margin: auto;
    text-align: center;
  }
  #password_table_wrapper {
    display: flex;
   
  }

  .btn-secondary {
    display: block;
    margin-top: 10px !important ;
    width: 200px !important;
  }
  /* .dt-info {
    margin-left: -20px !important;
  } */
}
@media screen and (max-width: 500px) {
  .dt-container.dt-info {
    padding-top: 0.85em;
    font-size: 16px;
    font-weight: 500;
  }

  #notes_table_wrapper .toolbar {
    justify-content: space-between !important;
  }
  .notes_title {
    position: absolute;
    transform: translate(10px, 10px);
  }
}
.shareModel_custom_height {
  height: 438px !important;
}

input[type="checkbox"]:checked {
  background-color: #41b8b6;
  border: none !important;
  outline: none;
}
input[type="checkbox"],
input[type="checkbox"]:hover {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1px rgb(177, 173, 173) solid !important;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
input[type="checkbox"]:hover {
  scale: 1.1;
}
input[type="checkbox"],
input[type="radio"] {
  /* margin: 4px 0 0; */
  margin-top: 0 !important;
  line-height: normal;
}
input[type="checkbox"]::after {
  padding: 4px;
  content: "\2713";
  display: inline-block;
  font-size: 14px !important;
  color: white;
  visibility: hidden;
  font-family: e-icons;
  font-size: 19px;
  background-color: #41b8b6;
  border-radius: 4px;
  padding: 2px 7px;
}
input[type="checkbox"]:checked {
  visibility: hidden;
}
input[type="checkbox"]:checked::after {
  visibility: visible;
}
#actions_groups_table tbody {
  max-height: 200px;
  overflow-y: auto;
}
.search_input {
  padding: 10px 10px 10px 40px !important;
}
.color_green {
  color: #41b8b6 !important;
}
#people_table tbody {
  height: 30%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
#actions_groups_table tbody {
  height: 30%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
#group th {
  padding: 20px;
  height: 64px !important;
}
#people_table tbody tr,
#actions_groups_table tbody tr {
  padding: 20px;
  height: 64px !important;
}
#password_table tbody tr:nth-child(odd),
#people_table tbody tr:nth-child(odd),
#actions_groups_table tbody tr:nth-child(odd) {
  background-color: #f6f8fb !important;
}
#password_table tbody tr:nth-child(even),
#people_table tbody tr:nth-child(even),
#actions_groups_table tbody tr:nth-child(even) {
  background-color: #fff;
}
/* Decrease the width of the scrollbar */
#people_table tbody::-webkit-scrollbar,
#actions_groups_table tbody::-webkit-scrollbar {
  width: 6px; /* Set your desired width */
}

#actions_people_table tbody {
  max-height: 200px;
  overflow-y: auto;
}

/* Style the scrollbar track */
#people_table tbody::-webkit-scrollbar-track,
#actions_groups_table tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set your desired background color */
}

/* Style the scrollbar thumb */
#people_table tbody::-webkit-scrollbar-thumb,
#actions_groups_table tbody::-webkit-scrollbar-thumb {
  background-color: #888; /* Set your desired thumb color */
  border-radius: 4px; /* Set border radius */
}

/* Hover effect for scrollbar thumb */
#people_table tbody::-webkit-scrollbar-thumb:hover,
#actions_groups_table tbody::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Set hover color */
}
#actions_groups_table tbody {
  max-height: 200px;
  overflow-y: auto;
}
#people_table .table tt-statis-table w-100 mt-3 text-center dataTable {
  max-height: 200px;
  overflow-y: auto;
}
#people_table {
  max-height: 20% !important;
  overflow-y: auto !important;
}
#date {
  color: #888;
}
